@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700&display=swap');


* {
    box-sizing: border-box;
    color: #837E9F;
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    --sectionBackground: #302F3D;
    --sectionBorder: 1.25rem;
    --sectionPadding: 2rem;

    --sectionDesktopWidth: 21rem;
    --sectionBoxShadow: 2px 4px 2px 0 rgba(0, 0, 0, 0.194);
}

body {
    background-color: #22212C;
}

section {
    margin-top: 2rem;
}

h2 {
    font-size: 1.25rem;
}

img {
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
}

#Profile {
    background-color: var(--sectionBackground);
    border-radius: var(--sectionBorder);
    box-shadow: var(--sectionBoxShadow);
    padding: var(--sectionPadding) 0 calc(var(--sectionPadding) + 1rem);
    text-align: center;
}

#Profile img {
    margin-bottom: 1.8rem;
    position: relative;
    z-index: 1;
}

#Profile::after {
    background: linear-gradient(#0A32FD 0%, #1DF7F2 100%);
    border-radius: 50%;
    content: "";
    height: 8.5rem;
    left: 7rem;
    position: absolute;
    top: 3.725rem;
    width: 8.5rem;
    z-index: 0;
}

#Profile h1 {
    margin-bottom: 0.6rem;
}

#ProfessionalLinks {
    background-color: var(--sectionBackground);
    border-radius: var(--sectionBorder);
    box-shadow: var(--sectionBoxShadow);
    padding: var(--sectionPadding) calc(var(--sectionPadding) - 0.8rem);
}

#ProfessionalLinks ul {
    list-style: none;
    margin-top: 1.25rem;
    padding-left: 1.3rem;
}

#ProfessionalLinks ul li {
    margin-top: 1.25rem;
}

#ProfessionalLinks ul li a {
    align-items: center;
    display: flex;
    font-size: 0.8rem;
    gap: 0.5rem;
}

#ProfessionalLinks ul li a i {
    font-size: 1.5rem;
}

#Technologies {
    background-color: var(--sectionBackground);
    border-radius: var(--sectionBorder);
    box-shadow: var(--sectionBoxShadow);
    padding: var(--sectionPadding) calc(var(--sectionPadding) - 0.8rem);
}

#Technologies  ul {
    display: grid;
    gap: 0.9rem;
    grid-template-columns: 5rem 5rem 5rem;
    list-style: none;
    margin-top: 1.25rem;
    padding-left: 0.6rem;
}

#Technologies ul li {
    background-color: #CB92B1;
    border-radius: var(--sectionBorder);
    color: black;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.5rem;
    text-align: center;
}

#Education {
    background-color: var(--sectionBackground);
    border-radius: var(--sectionBorder);
    box-shadow: var(--sectionBoxShadow);
    padding: var(--sectionPadding) calc(var(--sectionPadding) - 0.8rem);
}

#Education ul {
    margin-top: 1.25rem;
    padding-left: 1.3rem;
}

#Education ul li {
    margin-bottom: 1.5rem;
    font-size: 0.8rem;
}

#Education ul li strong {
    font-size: 1rem;
}

#Education ul li span {
    font-weight: lighter;
    font-size: 0.75rem;
}

#MyProjects #ProjectsTitle {
    background-color: var(--sectionBackground);
    border-radius: var(--sectionBorder) var(--sectionBorder) 0 0;
    box-shadow: var(--sectionBoxShadow);
    margin-bottom: 4rem;
    padding: var(--sectionPadding);
    position: relative;
    text-align: center;
}

#MyProjects #ProjectsTitle::after {
    background-color: #4b485c;
    border-radius: var(--sectionBorder);
    bottom: -1rem;
    content: '';
    height: 4rem;
    left: 0;
    position: absolute;
    transition: bottom 0.2s;
    width: 100%;
    z-index: -2;
}


#MyProjects #ProjectsTitle.ShowLink::after {
    bottom: -3rem;
}

#MyProjects #ProjectsTitle i {
    background-color: #22212C;
    border-radius: var(--sectionBorder);
    bottom: -1rem;
    font-size: 1.5rem;
    left: 10rem;
    padding: 0.25rem;
    position: absolute;
}

#MyProjects #ProjectsTitle a {
    bottom:  0.5rem;
    left: 8.5rem;
    position: absolute;
    transition: 0.2s;
    z-index: -1;
}

#MyProjects #ProjectsTitle.ShowLink a {
    bottom: -2.5rem;
    z-index: 0;
}

#MyProjects #Projects {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#MyProjects #Projects .Project1, #MyProjects #Projects .Project2 {
    background-color: var(--sectionBackground);
    border-radius: var(--sectionBorder);
    box-shadow: var(--sectionBoxShadow);
    display: block;
    padding: var(--sectionPadding) 1.25rem 1.4rem var(--sectionPadding);
}

#MyProjects #Projects h3 {
    margin-bottom: 1.25rem;
}

#MyProjects #Projects h3 i {
    font-size: 1.25rem;
    margin-right: 1rem;
}

#MyProjects #Projects p {
    margin-bottom: 1.8rem;
}

#MyProjects #Projects .StarestBranchsAndLang {
    display: grid;
    grid-template-columns: 5rem 11rem 4rem;
    position: relative;
}

#MyProjects #Projects .StarestBranchsAndLang::after {
    background-color: #E34C26;
    border: 2px solid #837E9F;
    border-radius: var(--sectionBorder);
    bottom: 0;
    content: '';
    height: 0.9rem;
    position: absolute;
    right: 3.5rem;
    width: 0.9rem;
}

#MyProjects #Projects .StarestBranchsAndLang span {
    align-items: center;
    display: flex;
    gap: 0.5rem;
}

#MyProjects #Projects .StarestBranchsAndLang i {
    font-size: 1.25rem;
}


#RecentPosts #PostsTitle {
    background-color: var(--sectionBackground);
    border-radius: var(--sectionBorder);
    box-shadow: var(--sectionBoxShadow);
    margin-bottom: 2rem;
    padding: var(--sectionPadding);
    text-align: center;
}

#RecentPosts #Post {
    background-color: var(--sectionBackground);
    border-radius: var(--sectionBorder);
    box-shadow: var(--sectionBoxShadow);
    padding: var(--sectionPadding);
    text-align: center;
}

#RecentPosts #Post img{
    margin-bottom: 1.25rem;
}

#RecentPosts #Post h3 {
    margin-bottom: 0.75rem;
}

#RecentPosts #Post p {
    margin-top: 1.6rem;
}

#RecentPosts #Post p span {
    line-height: 1.5rem;
    margin-right: 1.5rem;
}

@media(min-width: 900px) {

    body {
        padding: 0 2.5rem 3.5rem;
    }

    main {
        position: relative;
    }

    #Profile, #ProfessionalLinks, #Technologies, #Education {
        width: var(--sectionDesktopWidth);
    }

    #Profile.MouseEnter #Avatar, #Profile.MouseEnter::after {
        animation: Clipping 0.5s forwards;
    }

    #Profile.MouseLeave #Avatar , #Profile.MouseLeave::after {
        animation: Unclipping 0.5s reverse forwards;
    }

    #Profile::after {
        left: 6.225rem;
        top: 1.75rem;
    }


    #MyProjects {
        margin: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 52rem;
    }

    #MyProjects #ProjectsTitle {
        align-items: center;
        border-radius: var(--sectionBorder);
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        text-align: left;
    }

    #MyProjects #ProjectsTitle i, #MyProjects #ProjectsTitle::after {
        display: none;
    }

    #MyProjects #ProjectsTitle a {
        position: static;
        z-index: 0;
    }

    #MyProjects #Projects { 
        flex-direction: row;
    }


    #MyProjects #Projects .Project1:hover {
        animation: Test 1s linear infinite;
    }

    #MyProjects #Projects .Project2:hover {
        animation: Test 1s linear infinite;
    }

    #MyProjects #Projects .Project1 .StarestBranchsAndLang {
        grid-template-columns: 5rem 12.5rem 0.5rem;
    }

    #MyProjects #Projects .Project2 .StarestBranchsAndLang {
        grid-template-columns: 5rem 15rem 0.5rem;
    }

    #RecentPosts {
        position: absolute;
        right: 0;
        top: 20rem ;
        width: 52rem;
    }

    #RecentPosts #PostsTitle {
        text-align: left;
    }

    #RecentPosts #Post {
        column-gap: 1.25rem;
        display: grid;
        grid-template-areas: "img h3"
                             "img span"
                             "img p";
        grid-template-columns: 8rem 40rem;
        grid-template-rows: 1.8rem 1.6rem 4.3rem;
        
        text-align: left;
    }


    #RecentPosts #Post img {
        grid-area: img;
    }

    #RecentPosts #Post h3 {
        grid-area: h3;
    }

    #RecentPosts #Post span {
        grid-area: span;
    }

    #RecentPosts #Post p {
        grid-area: p;
        line-height: 1.8rem;
    }

    @keyframes Test {
        25% {
            transform: translateY(-5px) ;

        }

        50% {
            transform: translateY(0);
        }

        75% {
            transform: translateY(5px) ;
        }

        100% {
            transform: translateY(0);
        }
    }

    @keyframes Test1 {
        100% {
            transform: scale(95%);
        }
    }


    @keyframes Clipping {

        25% {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%, 0% 0%);
        }

        100% {
            clip-path: polygon(50% 0%, 95% 27%, 95% 75%, 50% 100%, 5% 75%, 5% 27%);
        }
    }

    @keyframes Unclipping {

        25% {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%, 0% 0%);
        }

        100% {
            clip-path: polygon(50% 0%, 95% 27%, 95% 75%, 50% 100%, 5% 75%, 5% 27%);
        }
    }

    @keyframes Test2 {
        100% {
            transform: scale(95%);
        }        
    }
}

